:root {
  --first-color: #ececec;
  --second-color: #9fd3c7;
  --third-color: #385170;
  --fourth-color: #142d4c;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--heading-font-family);
  background-color: var(--first-color);
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--fourth-color);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
  color: var(--first-color);
}

h2 {
  font-size: 62px;
}

h3 {
  font-size: 48px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: var(--third-color);
}
a {
  color: var(--third-color);
}
.hero {
  background-color: var(--fourth-color);
  text-align: center;
  padding: 80px 20px 30px;
}
.hero h2 {
  font-weight: lighter;
  line-height: 1.5;
  font-size: 22px;
  color: var(--first-color);
}
.hero a {
  text-decoration: none;
  color: var(--first-color);
  transition: all 200ms ease-in-out;
}
.hero a:hover {
  color: var(--second-color);
}
.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--first-color);
}

.container-day {
  margin-top: 50px;
}

.date {
  margin-top: 47px;
}

.day-img {
  max-width: 80px;
  border-radius: 50%;
  margin-top: 10px;
}
.days {
  display: inline-block;
  margin-top: 10px;
}
.btn-branding-outline {
  font-family: var(--default-font-family);
  border: solid 2px var(--third-color);
  border-radius: 400px;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

.btn-branding-outline:hover {
  color: var(--first-color);
  background-color: var(--third-color);
}
@media (max-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .hero h2 {
    font-size: 14px;
  }
  .day-img {
    max-width: 60px;
    margin-top: 10px;
  }
  .days {
    font-size: 30px;
    margin-top: 28px;
  }
  .date {
    font-size: 18px;
    margin-top: 40px;
  }
  .container-day {
    margin-top: 15px;
  }
}
